
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}
/* slider home*/

/*CSS imagem */
#primeira-imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.class-imagem {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #primeira-imagem {
        max-width: 90%;
    }
}

/* fim CSS imagem */
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 55%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }

}

/* ----- */

section.carousel {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.carousel-content {
    width: 600%;
    height: auto;
    display: flex;
}

.carousel-content input, .img-mobile {
    display: none;
}

.carousel-item {
    width: 16.6667%; /* 100% dividido por 6 slides */
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    width: 55%;
    height: auto;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 55%;
    display: flex;
    justify-content: center;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 55%;
    display: flex;
    justify-content: center;
}

.navigation-auto .auto-control1, .navigation-auto .auto-control2, .navigation-auto .auto-control3, 
.navigation-auto .auto-control4, .navigation-auto .auto-control5, .navigation-auto .auto-control6 {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.navigation-auto .auto-control1:not(:last-child), .navigation-auto .auto-control2:not(:last-child), 
.navigation-auto .auto-control3:not(:last-child), .navigation-auto .auto-control4:not(:last-child), 
.navigation-auto .auto-control5:not(:last-child) {
    margin-right: 10px;
}

.navigation-manual .manual-control, .navigation-auto .auto-control1, .navigation-auto .auto-control2, 
.navigation-auto .auto-control3, .navigation-auto .auto-control4, .navigation-auto .auto-control5, 
.navigation-auto .auto-control6 {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.navigation-manual .manual-control:not(:last-child) {
    margin-right: 10px;
}

.navigation-manual .manual-control:hover {
    background-color: #ff0054;
}

#slide1:checked ~ .navigation-auto .auto-control1, #slide2:checked ~ .navigation-auto .auto-control2, 
#slide3:checked ~ .navigation-auto .auto-control3, #slide4:checked ~ .navigation-auto .auto-control4, 
#slide5:checked ~ .navigation-auto .auto-control5, #slide6:checked ~ .navigation-auto .auto-control6 {
    background-color: #ff0054;
}

#slide1:checked ~ .first-slide {
    margin-left: 0%;
}

#slide2:checked ~ .first-slide {
    margin-left: -16.6667%;
}

#slide3:checked ~ .first-slide {
    margin-left: -33.3333%;
}

#slide4:checked ~ .first-slide {
    margin-left: -50%;
}

#slide5:checked ~ .first-slide {
    margin-left: -66.6667%;
}

#slide6:checked ~ .first-slide {
    margin-left: -83.3333%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .navigation-auto, .navigation-manual {
        margin-top: 55%;
    }
}

